/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

.intro {
    text-align: center;
    margin: 20px 0;
    padding: 0 10px;
}

.technique {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%; /* Cambiado para que ocupe la mayor parte de la pantalla en móviles */
    max-width: 400px; /* Máximo ancho para pantallas más grandes */
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

/* Responsividad */
@media (min-width: 768px) {
    .technique {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        margin: 10px;
        width: calc(50% - 40px); /* Dos tarjetas por fila en pantallas medianas */
    }
}

@media (min-width: 1024px) {
    .card {
        width: calc(33.333% - 40px); /* Tres tarjetas por fila en pantallas grandes */
    }
}
